/* Reset some basic styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Body styling */
body {
    background-color: #fcfcfc;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-color: #1DB954;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Main section padding */
main {
    padding: 2rem;
}

/* Audio list styling */
.audio-list {
    margin-bottom: 2rem;
    padding: 1em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.audio-list h2 {
    margin-bottom: 1rem;
}

.audio-list ul {
    list-style-type: none;
    padding: 0;
}

.audio-list li {
    margin-bottom: 1rem;
}

.audio-list button {
    background-color: #1DB954;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.audio-list button:hover {
    background-color: #14833b;
}

.audio-list button.playing {
    background-color: #333;
    color: white;
}

/* Audio controls styling */
.audio-controls {
    padding: 1em;
    background-color: white;
    margin: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audio-controls audio {
    width: 100%;
    margin-bottom: 1rem;
}

.audio-controls input[type="range"] {
    width: 100%;
    margin: 1rem 0;
}

/* Popup styling */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #282828;
    color: #ffffff;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    border-radius: 10px;
}

.popup h2, .popup h3 {
    margin-bottom: 1rem;
}

.popup ul {
    list-style-type: none;
    padding: 0;
}

.popup ul li {
    margin-bottom: 0.5rem;
}

.popup button {
    background-color: #1DB954;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.popup button:hover {
    background-color: #14833b;
}
/* Footer styling */
footer {
    background-color: #1DB954;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

/* WhatsApp button styles */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.whatsapp-button img {
    width: 40px;
    height: 40px;
}

.whatsapp-button:hover {
    background-color: #20c057;
}
